<%- include('../partials/header') %>

    <!-- <h1>Paolo's Skill Set</h1> -->
    &nbsp;&nbsp;
    <ul>
      <% devSkills.forEach(function(t) { %>
        <li>
          <form
           action="/devSkills/<%= t.id %>?_method=DELETE"
           method="POST"
           class="delete-form"
          >
          <button type="submit">X</button>
          </form>
          <a href="/devSkills/<%= t.id %>">
          <%= t.devSkill %>
          </a>
        </li>
    <% }); %>
  </ul>
 

<%- include('../partials/footer') %>

