<%- include('../partials/header') %>

<h1>devSkill #<%= devSkill.id %></h1>
<h3><%= devSkill.devSkill %></h3>
<h3>Complete: <%= devSkill.done ? 'Yes' : 'No' %></h3>

<%- include('../partials/footer') %>