<%- include('../partials/header') %>

<!-- <h1>My Skill Set </h1> -->
<h3><%= devSkill.devSkill %></h3>
<!-- <h3>Complete: <%= devSkill.done ? 'Yes' : 'No' %></h3> -->
<a href="/devSkill/<%= devSkill.id %>/edit">EDIT Skill</a>
<%- include('../partials/footer') %>